body {
    background-color: #eeebdd;
}

.centered {
    padding-top: 200px;
    text-align: center;
}

.secret-text {
    text-align: center;
    font-size: 2rem;
    color: #eeebdd;
    background-color: #810000;
}

.fas {
    color: #630000;
}